.container {
    max-width: 1200px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.items {
    /* background-color: tomato; */
    grid-area: 1 / 2 / 6 / 6;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.content {
    margin: 55px 0px 55px 0px;
    flex: 1 1 500px;
}