.menuList {
    /* background-color: teal; */
    border-right: 2px solid #e6e6e6;
    grid-area: 1 / 1 / 6 / 2;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* .menuList ul {} */


.menuList li {
    padding: 20px;
}

.menuList span {
    font-size: large;
    cursor: pointer;
}